* {
    margin: 0;
    padding: 0;
}

nav {
	background-color: crimson;
	height: 60px;
	margin: 0;
	padding: 0;
}
	
.btn {
    margin-top: 5px;
	margin-left: 8px;
	background-color: transparent;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border:1px solid currentColor;
	color: white;
	cursor: pointer;
}

.btn svg {
    height: 1.8rem;
	width: 1.8rem;
}

.btn:hover {
	color: rgba(255, 240, 245,.5);
}